.logo {
    font-family: revert;
  }
  
  div {
    overflow-x: hidden;
  }

  .smh {
      margin-bottom: 30px;
  }
  
  .card {
    transition: .5s;
    cursor: pointer;
    height: 100%;
    text-align: center;
    padding: 20px;
  }
  
  .card:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    transition: .5s;
  }
  
  .card-body {
    padding-bottom: 10px;
  }
  
  .checkout-btn {
    background-color: #80808066;
    color: #fff;
    padding: 6px 50px;
    border-radius: 5px;
  }
  
  p {
    font-size: 14px;
  }
  .card-img-top {
    width: auto;
    height: 150px;
    margin: 0 auto;
  }
  .list-group-item {
    border:none;
  }
  